[submodule "Heltec_ESP32"]
	path = Heltec/Heltec_ESP32
	url = https://github.com/HelTecAutomation/Heltec_ESP32
[submodule "WiFi_Kit_series"]
	path = Heltec/WiFi_Kit_series
	url = https://github.com/Heltec-Aaron-Lee/WiFi_Kit_series
