[submodule "Heltec_ESP32"]
	path = Heltec_ESP32
	url = https://github.com/HelTecAutomation/Heltec_ESP32
[submodule "Heltec/WiFi_Kit_series"]
	path = Heltec/WiFi_Kit_series
	url = ssh://gei@queen.lan.hm.xn--8cab.de/volume2/git/Arduino/Aaron_Lee_WiFi_Kit_series
